body {
    height: 100vh;
    background: linear-gradient(111deg, #955FBA 10.21%, #CEA2D0 90.49%);
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;


}
.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.buttom {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.left-side {
    border-radius: 50px 0 0 50px;
    background: #F3F4F6;
    width: 788px;
    height: 700px;
}
.right-side {
    border-radius: 0 50px 50px 0;
    background: #FFF;

    width: 788px;
    height: 700px;
    top: 135px;
    background-color: #fff;

}
.left-bottom {
    width: 788px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.right-bottom {
    width: 788px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 20px;
    border: 1px solid #FFF;
    gap: 30px;
}
.buttom-opasity {
    padding: 20px;
    border: 1px solid;
    color: #000;
    border-radius: 20px;
    display: flex;
    flex-direction: row;

}
